rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
    	// allow read: if true;
      allow read, create, write, update: if debug(debug(request.auth != null) && debug(request.auth.uid == userId));
    }
    match /users/{userId}/{document=**} {
      allow read, create, write, update, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}